results/**/checkpoint-last/
results/**/task_data/
results/**/eval_log.json
results/**/eval_log_aggregated.json
results/**/eval_real_author_wo_options.json
results/**/eval_real_world_wo_options.json
!results/
!results/**/
*.log
*.ckpt
__pycache__/
flash-attention/
target/